<h4>Downgrade back to standard</h4>
<p><b>WAIT!</b> If you go back to standard you will have to pay another $10 if you wish to have premium features again, and your private wikis will become public.</p>
<%= link_to "Downgrade Your Account", downgrade_create_path, method: :create, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to downgrade? :('} %>